<ion-header class="ion-no-border">
  <ion-toolbar color="upmeup">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon color="light" slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="logOut()">
        <ion-icon color="light" slot="icon-only" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="header-class">
    <ion-label class="header-text ion-padding">
      <div>
        <ion-row>
          <ion-col> 
            <ion-title class="ion-padding"> <ion-label class="title-offer" color="light">
               {{ userName }} {{userInfo?.surname}} 
               <h3> de {{userInfo?.city}} </h3> </ion-label>
            </ion-title>
          </ion-col>
        </ion-row>
      </div>
    </ion-label> 
    <ion-thumbnail class="avatar-center">
      <img src="./../../../assets/avatar.svg" />
    </ion-thumbnail>   

    <!-- Skills -->
    <ion-row>
      <ion-col> </ion-col>
      <ion-col size="8"> </ion-col>
      <ion-col>
        <ion-fab vertical="center" horizontal="end">
          <ion-fab-button color="upmeup" (click)="openModal()"> <ion-icon name="create-outline" color="light"></ion-icon> </ion-fab-button>
        </ion-fab>
      </ion-col>
    </ion-row>
    
    <ion-grid class="skills-info">
      <div class="ion-padding-top" *ngIf="userSkills.length === 0">
        <div class="header-text ion-padding">
          <ion-label color="danger" class="ion-text-start">
            Encara no tens valors seleccionats
          </ion-label> 
        </div>
      </div>

      <div class="ion-padding-top" *ngIf="userSkills?.length > 0">
        <ion-row>
          <ion-col size="6" *ngFor="let skill of userSkills">
            <div class="custom-icon">
              <ion-label class="title-offer">
                <h4>
                  <ion-icon class="values-ico-style" name="rocket" slot="icon-only" size="small" slot="start"></ion-icon>
                  {{ skill.name }}
                </h4>
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>

</ion-header>


<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="light" (click)="editModal()"> <ion-icon style="color: #5a7266;" name="create-outline"></ion-icon> </ion-fab-button>
  </ion-fab>

  <div class="container">
    <ion-card class="content-info">
      <ion-card-content>
        <div class="center-class margin-fab-btn"> 
          <ion-label>
            <h2 class="custom-title"> {{ userInfo?.jobPosition }} </h2>
            <h4> <b>Sector:</b> {{ sectorName }} </h4>
            <h3 class="custom-subtitle"> {{ userInfo?.experience }} anys d'antiguitat </h3>
          </ion-label>
        </div>

        <div class="center-class">
          <ion-label>
            <h4 class="margin"> {{ userInfo?.lastJobTasks }} </h4>
          </ion-label>    
        </div>

        <!-- Idiomes -->
        <div class="center-class">  
          <ion-label class="cv-title">
            <h2 class="custom-title"> Idiomes de comunicació </h2>
          </ion-label> 
          <ion-label>
            <h4 class="margin">
              <ion-chip *ngFor="let lang of userInfo?.languages">
                <ion-label> {{ lang }} </ion-label>
              </ion-chip>
            </h4>
          </ion-label>
        </div>

        <!-- Contacte -->
        <div class="center-class">
          <ion-row>
            <ion-col> </ion-col>
            <ion-col size="8"> <h2 class="custom-title"> Informació de contacte </h2> </ion-col>
            <ion-col> </ion-col>
          </ion-row>
          <ion-item lines="none">
            <ion-icon class="vertical-ico-style" name="at" slot="start"></ion-icon>
            <ion-label>
              <h3>{{ userInfo?.email }}</h3>
              <p>Email</p>
            </ion-label>
          </ion-item>
        </div>

        <!-- Info Company 
        <div class="center-class">
          <ion-row>
            <ion-col> </ion-col>
            <ion-col size="8"> <h2 class="custom-title"> Informació de contacte </h2> </ion-col>
            <ion-col> </ion-col>
          </ion-row>
          <ion-list lines="none">
            <ion-item>
              <ion-icon class="vertical-ico-style" name="call" slot="start"></ion-icon>
              <ion-label>
                <h3>93 666 66 66</h3>
                <p>Teléfon</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-icon class="vertical-ico-style" name="at" slot="start"></ion-icon>
              <ion-label>
                <h3>info@workmail.com</h3>
                <p>Email</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-icon class="vertical-ico-style" name="map" slot="start"></ion-icon>
              <ion-label>
                <h3>Carrer de Comerç, 33, entl. 1.</h3>
                <h2>08003, Barcelona</h2>
                <p>Oficina</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-icon class="vertical-ico-style" name="earth" slot="start"></ion-icon>
              <ion-label>
                <h3>https://facto.cat/</h3>
                <p>Web</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div> -->

      </ion-card-content>
    </ion-card>
      
  </div>

</ion-content>

