<ion-header class="ion-no-border">
  <ion-toolbar color="upmeup">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon color="light" slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="logOut()">
        <ion-icon color="light" slot="icon-only" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="header-class">
    <ion-thumbnail class="avatar-center">
      <img src="./../../../assets/avatar.svg" />
    </ion-thumbnail> 
    <ion-label class="header-text">
      <div>
        <ion-row>
          <ion-col> 
            <ion-title class="ion-padding"> <ion-label class="title-offer" color="light">
               {{ userInfo?.name }} <span *ngIf="userType === '2'"> {{userInfo?.surname}} </span>
               <h3> de {{userInfo?.city}} </h3> </ion-label>
            </ion-title>
          </ion-col>
        </ion-row>
      </div>
    </ion-label>   

    <!-- Skills -->    
    <ion-fab horizontal="end">
      <ion-fab-button color="upmeup" size="small" (click)="openModal()"> <ion-icon name="create-outline" style="color: #5a7266;"></ion-icon> </ion-fab-button>
    </ion-fab>
    
    <ion-grid>
      <div class="ion-padding-bottom" *ngIf="userSkills.length === 0">
        <div class="text-no-valors ion-padding">
          <ion-label color="danger" class="ion-text-start">
            Encara no tens valors seleccionats
          </ion-label> 
        </div>
      </div>

      <div class="skills-info ion-padding-top ion-padding-bottom" *ngIf="userSkills?.length > 0">
        <ion-row>
          <ion-col size="6" *ngFor="let skill of skillsIco">
            <div class="custom-icon">
              <ion-label class="title-offer">
                <ion-icon class="{{skill.sClass}} custom-icon"></ion-icon>
                <span><b> {{ skill.sname }} </b></span>
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
    <div class="head-line"></div>
  </div>

</ion-header>


<ion-content>
  <ion-fab horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="editModal()"> <ion-icon style="color: #5a7266;" name="create-outline"></ion-icon> </ion-fab-button>
  </ion-fab>

  <div class="container">
    <ion-card class="content-info">
      <ion-card-content>
        <div class="center-class margin-fab-btn"> 
          <ion-label>
            <h2 *ngIf="userType === '2'" class="custom-title"> {{ userInfo?.jobPosition }} </h2>
            <h4> <b>Sector:</b> {{ sectorName }} </h4>
            <h3 class="custom-subtitle"> {{ userInfo?.experience }} anys d'antiguitat </h3>
          </ion-label>
        </div>

        <div class="center-class">
          <ion-label>
            <h4 class="margin"> {{ userInfo?.lastJobTasks }} </h4>
          </ion-label>    
        </div>

        <!-- Idiomes -->
        <!--<div class="center-class">  
          <ion-label class="cv-title">
            <h2 class="custom-title"> Idiomes de comunicació </h2>
          </ion-label> 
          <ion-label>
            <h4 class="margin">
              <ion-chip *ngFor="let lang of userInfo?.languages">
                <ion-label> {{ lang }} </ion-label>
              </ion-chip>
            </h4>
          </ion-label>
        </div>-->

        <!-- Info Contacte -->
        <!--<div class="center-class">
          <ion-row>
            <ion-col> </ion-col>
            <ion-col size="8"> <h2 class="custom-title"> Informació de contacte </h2> </ion-col>
            <ion-col> </ion-col>
          </ion-row>
          <ion-item lines="none">
            <ion-icon class="vertical-ico-style" name="at" slot="start"></ion-icon>
            <ion-label>
              <h3>{{ userInfo?.email }}</h3>
              <p>Email</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-icon class="vertical-ico-style" name="at" slot="start"></ion-icon>
            <ion-label>
              <h3> (+34) 93 000 00 00</h3>
              <p>Teléfon</p>
            </ion-label>
          </ion-item>
        </div>-->

      </ion-card-content>
    </ion-card>
      
  </div>

</ion-content>

