<ion-header>
  <ion-toolbar color="loginbtn">
    <ion-title>Selecciona els teus valors</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"> <ion-icon name="close-outline"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!userSkills" class="ion-margin">
    <p> Encara no has seleccionat cap valor </p>
  </div>
  <div *ngIf="userSkills?.length > 0" class="ion-margin">
    <ion-label> Els teus valors son: </ion-label><br/>
    <ion-chip outline color="loginbtn" *ngFor="let item of userSkills;">
      <ion-label> {{ item.name }} </ion-label>
      <!--<ion-icon name="close-circle"></ion-icon>-->
    </ion-chip>
  </div>

    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-item *ngFor="let skill of skillsList; let i of index" lines="none">
            <ion-label color="light"> {{ skill.name }} </ion-label>
            <ion-toggle slot="start" name={{skill.name}} id={{skill._id}} color="loginbtn" (ionChange)="changeSelection($event, skill)" 
                        [disabled]="disableCheckbox(skill)"> <!-- [checked]="isChecked(skill)"> -->
            </ion-toggle>
          </ion-item>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-button type="submit" fill="solid" color="loginbtn" expand="block" (click)="saveSkills()"> Guardar </ion-button>

<!-- 
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-label> Ecología </ion-label> 
          <ion-range min="0" max="100" pin [pinFormatter]="customFormatter" color="success" [(ngModel)]="ecoVal"> </ion-range>   
        </ion-col> 
        <ion-col> 
          <ion-badge color="success" class="badge badge-md"> {{ecoVal}} </ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-label> Igualdad </ion-label> 
          <ion-range min="0" max="100" pin [pinFormatter]="customFormatter" color="danger" [(ngModel)]="igualdadVal"> </ion-range>   
        </ion-col> 
        <ion-col> 
          <ion-badge color="danger" class="badge badge-md"> {{igualdadVal}} </ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-label> Transparencia </ion-label> 
          <ion-range min="0" max="100" pin [pinFormatter]="customFormatter" color="secondary" [(ngModel)]="transparenciaVal"> </ion-range>   
        </ion-col> 
        <ion-col> 
          <ion-badge color="secondary" class="badge badge-md"> {{transparenciaVal}} </ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-label> Proactividad </ion-label> 
          <ion-range min="0" max="100" pin [pinFormatter]="customFormatter" color="tertiary" [(ngModel)]="proactividadVal"> </ion-range>   
        </ion-col> 
        <ion-col> 
          <ion-badge color="tertiary" class="badge badge-md"> {{proactividadVal}} </ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-label> Impacto Social </ion-label> 
          <ion-range min="0" max="100" pin [pinFormatter]="customFormatter" color="warning" [(ngModel)]="iSocialVal"> </ion-range>   
        </ion-col> 
        <ion-col> 
          <ion-badge color="warning" class="badge badge-md"> {{iSocialVal}} </ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-label> Organización Participativa </ion-label> 
          <ion-range min="0" max="100" pin [pinFormatter]="customFormatter" color="primary" [(ngModel)]="oParticipativaVal"> </ion-range>   
        </ion-col> 
        <ion-col> 
          <ion-badge color="primary" class="badge badge-md"> {{oParticipativaVal}} </ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item> 
-->

</ion-content>
