<ion-header>
  <ion-toolbar color="upmeup">
    <ion-title class="header-text" color="light">Edita el teu perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"> <ion-icon name="close-outline" color="light"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="header-class">
    <ion-thumbnail class="avatar-center ion-padding">
      <img src="./../../../assets/thumbnail.svg" />
    </ion-thumbnail>
  </div>
</ion-header>

<ion-content>
  <div class="container">

    <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()" novalidate>
      <ion-item>
        <ion-label>          
          <h2 *ngIf="userType === '1'" class="custom-title">Nom:</h2>
          <h2 *ngIf="userType === '2'" class="custom-title">Nom de l'empresa:</h2>
        </ion-label>
        <ion-input class="custom-text form-text" id="iName" formControlName="iName" minlength="3" maxlength="30" required></ion-input>
      </ion-item>
      <div *ngIf="errorCtr.iName.errors && (errorCtr.iName.invalid || errorCtr.iName.touched)">
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iName.errors.required">* Camp requerit</small>
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iName.errors.minlength">* Ha de tenir com a mínim 3 caracters</small>
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iName.errors.maxlength">* Ha de tenir com a màxim 30 caracters</small>
      </div>
      
      <ion-list *ngIf="userType === '1'">
        <ion-item>
          <ion-label><h2 class="custom-title">Cognom:</h2></ion-label>
          <ion-input class="custom-text form-text" id="iSurname" formControlName="iSurname" minlength="3" maxlength="30" required></ion-input>
        </ion-item>
        <div *ngIf="errorCtr.iSurname.errors && (errorCtr.iSurname.invalid || errorCtr.iSurname.touched)">
          <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iSurname.errors.required">* Camp requerit</small>
          <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iSurname.errors.minlength">* Ha de tenir com a mínim 3 caracters</small>
          <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iSurname.errors.maxlength">* Ha de tenir com a màxim 30 caracters</small>
        </div>
      </ion-list>

      <ion-item>
        <ion-label><h2 class="custom-title">Email:</h2></ion-label>
        <ion-input class="custom-text form-text" id="iEmail" formControlName="iEmail" minlength="10" maxlength="60" required></ion-input>
      </ion-item>
      <div *ngIf="errorCtr.iEmail.errors && (errorCtr.iEmail.invalid || errorCtr.iEmail.touched)">
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iEmail.errors.required">* Camp requerit</small>
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iEmail.errors.minlength">* Ha de tenir com a mínim 10 caracters</small>
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iEmail.errors.maxlength">* Ha de tenir com a màxim 60 caracters</small>
      </div>

      <ion-item>
        <ion-label><h2 class="custom-title">Ciutat:</h2></ion-label>
        <ion-select class="form-text" interface="action-sheet" id="iCity" formControlName="iCity" minlength="1" maxlength="80"
          placeholder="Selecciona..." required>
          <ion-select-option *ngFor="let city of cityList" value="{{city}}">{{city}}</ion-select-option>
        </ion-select>    
      </ion-item>

      <ion-list *ngIf="userType === '1'">
        <ion-item>
          <ion-label><h2 class="custom-title">Estudis:</h2></ion-label>
          <ion-input class="custom-text form-text" id="iEduc" formControlName="iEduc" minlength="8" maxlength="40" required></ion-input>
        </ion-item>      
        <div *ngIf="errorCtr.iEduc.errors && (errorCtr.iEduc.invalid || errorCtr.iEduc.touched)">
          <small class="error ion-padding" *ngIf="errorCtr.iEduc.errors.required">* Camp requerit</small>        
          <small class="error ion-padding" *ngIf="errorCtr.iEduc.errors.minlength">* Ha de tenir com a mínim 8 caracters</small>
          <small class="error ion-padding" *ngIf="errorCtr.iEduc.errors.maxlength">* Ha de tenir com a màxim 40 caracters</small>
        </div>
      </ion-list>

      <!-- Competències -->
      <ion-item *ngIf="userType === '1'" lines="none">
        <ion-label>
          <h2 class="custom-title">Competències/Habilitats:</h2>
          <h5 class="custom-sub">(selecciona almenys 4 competències)</h5>
        </ion-label>
      </ion-item>
      <ion-item class="ion-padding-top ion-padding-bottom" *ngIf="userType === '1'">
        <tag-input [(ngModel)]="selectedCompet" 
                   [identifyBy]="'_id'"
                   [displayBy]="'name'"
                   [placeholder]="'+ Competències'"
                   [maxItems]='20'
                   id="iCompetence"
                   formControlName="iCompetence"
                   [removable]="true"
                   [theme]="'upm-tag-theme'">
              <ng-template let-index="index" let-item="item">
                {{ item.name }}
                <delete-icon (click)="removeCompetence(item)"></delete-icon>
              </ng-template>
          <tag-input-dropdown [autocompleteItems]="competList" [identifyBy]="'_id'" [displayBy]="'name'">
              <ng-template let-item="item" let-index="index">
                {{ item.name }}
              </ng-template>
          </tag-input-dropdown>
        </tag-input>
      </ion-item>

      <ion-list *ngIf="userType === '1'">
        <ion-item>
          <ion-label><h2 class="custom-title">Últim càrrec:</h2></ion-label>
          <ion-input class="custom-text form-text" id="iJobPos" formControlName="iJobPos" minlength="5" maxlength="70" required></ion-input>
        </ion-item>      
        <div *ngIf="errorCtr.iJobPos.errors && (errorCtr.iJobPos.invalid || errorCtr.iJobPos.touched)">
          <small class="error ion-padding" *ngIf="errorCtr.iJobPos.errors.required">* Camp requerit</small>        
          <small class="error ion-padding" *ngIf="errorCtr.iJobPos.errors.minlength">* Ha de tenir com a mínim 5 caracters</small>
          <small class="error ion-padding" *ngIf="errorCtr.iJobPos.errors.maxlength">* Ha de tenir com a màxim 70 caracters</small>
        </div>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-label><h2 class="custom-title">Sector:</h2></ion-label>
          <ion-select class="custom-text form-text" interface="action-sheet" id="iSector" formControlName="iSector" placeholder="Selecciona..." required>
            <ion-select-option *ngFor="let sector of sectorsList[0]" value="{{sector._id}}"> {{sector.name}} </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      
      <ion-item>
        <ion-label>
          <h2 *ngIf="userType === '1'" class="custom-title">Anys d'experiencia:</h2>
          <h2 *ngIf="userType === '2'" class="custom-title">Antiguitat de l'empresa:</h2>
        </ion-label>
        <ion-input class="custom-text form-text" id="iExp" formControlName="iExp" minlength="1" maxlength="2" required></ion-input>
      </ion-item>      
      <div *ngIf="errorCtr.iExp.errors && (errorCtr.iExp.invalid || errorCtr.iExp.touched)">
        <small class="error ion-padding" *ngIf="errorCtr.iExp.errors.required">* Camp requerit</small>        
        <small class="error ion-padding" *ngIf="errorCtr.iExp.errors.minlength">* Ha de tenir com a mínim 1 valor</small>
        <small class="error ion-padding" *ngIf="errorCtr.iExp.errors.maxlength">* Ha de tenir com a màxim 2 valors</small>
      </div>

      <ion-item>
        <ion-label position="stacked">
          <div *ngIf="userType === '1'" class="custom-title textarea-title"> Descripció tasques (últim càrrec): </div>
          <div *ngIf="userType === '2'" class="custom-title textarea-title"> Què feu a la teva empresa o entitat? </div>
        </ion-label>
        <ion-textarea id="iLastJob" formControlName="iLastJob" minlength="20" maxlength="400" rows="6" cols="60" required></ion-textarea>
      </ion-item>
      <div *ngIf="errorCtr.iLastJob.errors && (errorCtr.iLastJob.invalid || errorCtr.iLastJob.touched)">
        <small class="error ion-padding" *ngIf="errorCtr.iLastJob.errors.required">* Camp requerit</small>        
        <small class="error ion-padding" *ngIf="errorCtr.iLastJob.errors.minlength">* Ha de tenir com a mínim 20 caràcters</small>
        <small class="error ion-padding" *ngIf="errorCtr.iLastJob.errors.maxlength">* Ha de tenir com a màxim 400 caràcters</small>
      </div>
      
      <ion-list *ngIf="userType === '1'">
        <ion-item>
          <ion-label><h2 class="custom-title">Idiomes:</h2></ion-label>
          <ion-select class="form-text" interface="action-sheet" id="iLang" formControlName="iLang" minlength="1" maxlength="80"
            [multiple]="true" placeholder="Selecciona..." required>
            <ion-select-option *ngFor="let lang of languageList" value="{{lang}}">{{lang}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <p class="ion-text-center ion-padding">
        <ion-button type="submit" fill="solid" color="loginbtn" shape="round"> 
          Actualitzar 
        </ion-button>
        <!--<ion-button type="button" fill="solid" color="danger" shape="round" (click)="cancelEdition()"> 
          Cancel·lar
        </ion-button>-->
      </p>
    </form>

  </div>
</ion-content>
