<ion-header>
  <ion-toolbar color="upmeup">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon color="light" slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <!--<ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon color="light" slot="icon-only" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>

  <div class="header-class">   
    <ion-thumbnail class="avatar-center" >
      <img class="profile" src="./../../../assets/thumbnail.svg" />
    </ion-thumbnail> 
    <ion-label class="header-text ion-padding">
      <div>
        <ion-row>
          <ion-col> </ion-col>
          <ion-col size="8"> 
            <ion-title class="ion-padding"> <ion-label class="title-offer" color="light"><b> {{ offer.title }} </b></ion-label></ion-title>
          </ion-col>
          <ion-col>
            <ion-fab-button color="upmeup" (click)="editModal()"> <ion-icon style="color: #5a7266;" name="construct-outline"></ion-icon> </ion-fab-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-label> 
    <ion-grid class="grid-info">
      <ion-row>
        <ion-col size="6"> 
          <div class="calendar-ico custom-icon">
            <ion-label> {{ offer?.createdDate | date: 'dd/MM/yyyy' }} </ion-label>
          </div>
        </ion-col>
        <ion-col size="6"> 
          <div class="location-ico custom-icon">
            <ion-label> {{ offer.city }} </ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <div class="remoto-ico custom-icon">
            <ion-label> {{ offer.remoto }} </ion-label>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="jornada-ico custom-icon">
            <ion-label> {{ offer.jornada }} </ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <div class="salary-ico custom-icon">
            <ion-label> {{ offer.rangoSalarial }} € </ion-label>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="enrolled-ico custom-icon">
            <ion-label> {{ offer?.enrolled }} </ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-header>

<ion-content>
  <div class="container">
    <!-- ENROLLED USERS LIST -->
    <div class="noEnrolled ion-padding" *ngIf="usersListData.length === 0">
      <ion-label>
        <ion-text color="medium"> Encara no s'ha inscrit ningú... </ion-text>           
      </ion-label> 
    </div>

    <ion-card class="container" *ngFor="let usoff of usersListData">
      <ion-card-content>
          <ion-list lines="none">
            <ion-grid>
              
              <div class="separator"></div>

              <ion-row>
                <ion-col>
                  <ion-item>          
                    <ion-thumbnail class="user-avatar" slot="start">
                      <img class="users" src="./../../../assets/avatar.svg" />
                    </ion-thumbnail>          
                    <ion-label>
                      <ion-text>
                        <h2 class="title-color"> {{usoff.data.name}} {{usoff.data.surname}}</h2>    
                      </ion-text>          
                      <ion-text color="medium">
                        <h3> <b>Fake Fullstack</b> </h3>
                      </ion-text>   
                      <ion-text color="medium">
                        <ion-text color="medium"><p>
                          <ion-icon name="location-outline"></ion-icon> {{ usoff.data.city }} 
                        </p></ion-text>
                      </ion-text>
                      <ion-text color="danger">
                        <h3 class="padding-top"> **Match: {{ usoff.match }} </h3>
                      </ion-text>        
                    </ion-label>          
                  </ion-item>
                </ion-col>
              </ion-row>

             <!-- 
                <ion-row class="ion-justify-content-right">
                <ion-col size="3"></ion-col>
                <ion-col size="9">
                  <ion-item>
                    <ion-button class="candidate-btn" fill="solid" expand="small" color="candidateok" shape="round"> Encaixa </ion-button>
                    <ion-button class="candidate-btn" fill="solid" expand="small" color="danger" shape="round"> No encaixa </ion-button>
                  </ion-item>
                </ion-col>
              </ion-row>
             -->
            </ion-grid> 

          </ion-list>        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
