<ion-header>
  <ion-toolbar color="upmeup">
    <ion-title class="header-text" color="light">Edita l'Oferta</ion-title>
  </ion-toolbar>

  <div class="header-class">
    <ion-thumbnail class="avatar-center ion-padding">
      <img src="./../../../assets/thumbnail.svg" />
    </ion-thumbnail>
  </div>
</ion-header>

<ion-content>
  <div class="container">
    
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
     <ion-item>
        <ion-label><h2 class="custom-title">Títol:</h2></ion-label>
        <ion-input class="form-text" id="iTitle" formControlName="iTitle" minlength="8" maxlength="30" required></ion-input>
      </ion-item>
      <!-- Error messages -->
      <div *ngIf="errorCtr.iTitle.errors && (errorCtr.iTitle.invalid || errorCtr.iTitle.touched)">
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iTitle.errors.required">* Camp requerit</small>
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iTitle.errors.minlength">* Ha de tenir com a mínim 8 lletres</small>
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iTitle.errors.maxlength">* Ha de tenir com a màxim 30 lletres</small>
      </div>

      <ion-item>
        <ion-label><h2 class="custom-title">Estudis mínims:</h2></ion-label>
        <ion-input class="form-text" id="iEduLevel" formControlName="iEduLevel" minlength="3" maxlength="30" required></ion-input>
      </ion-item>      
      <div *ngIf="errorCtr.iEduLevel.errors && (errorCtr.iEduLevel.invalid || errorCtr.iEduLevel.touched)">
        <small class="error ion-padding" *ngIf="errorCtr.iEduLevel.errors.required">* Camp requerit</small>        
        <small class="error ion-padding" *ngIf="errorCtr.iEduLevel.errors.minlength">* Ha de tenir com a mínim 3 lletres</small>
        <small class="error ion-padding" *ngIf="errorCtr.iEduLevel.errors.maxlength">* Ha de tenir com a màxim 30 lletres</small>
      </div>

      <!-- Competencies -->
      <ion-item>
        <ion-label><h2 class="custom-title">Competencies/Habilitats:</h2></ion-label>
      </ion-item>
      <ion-item class="ion-padding-top ion-padding-bottom">
        <tag-input [(ngModel)]="selectedCompet" 
                  [identifyBy]="'_id'"
                  [displayBy]="'name'"
                  [placeholder]="'+ Competencies'"
                  [maxItems]='20'
                  id="iCompetence"
                  formControlName="iCompetence"
                  [removable]="true"
                  [theme]="'upm-tag-theme'">
              <ng-template let-item="item">
                {{ item.name }}
                <delete-icon (click)="removeCompetence(item)"></delete-icon>
              </ng-template>
          <tag-input-dropdown [autocompleteItems]="competList" [identifyBy]="'_id'" [displayBy]="'name'">
              <ng-template let-item="item" let-index="index">
                {{ item.name }}
              </ng-template>
          </tag-input-dropdown>
        </tag-input>
      </ion-item>

      <ion-item>
        <ion-label><h2 class="custom-title">Ciutat:</h2></ion-label>
        <ion-input class="form-text" id="iCity" formControlName="iCity" minlength="4" maxlength="30" required></ion-input>
      </ion-item>
      <div *ngIf="errorCtr.iCity.errors && (errorCtr.iCity.invalid || errorCtr.iCity.touched)">
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iCity.errors.required">* Camp requerit</small>
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iCity.errors.minlength">* Ha de tenir com a mínim 4 lletres</small>
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iCity.errors.maxlength">* Ha de tenir com a màxim 30 lletres</small>
      </div>

      <ion-item>
        <ion-label><h2 class="custom-title">Rang Salarial:</h2></ion-label>
        <ion-input class="form-text" id="iRangoSalarial" formControlName="iRangoSalarial" minlength="8" maxlength="30" required></ion-input>
      </ion-item>
      <div *ngIf="errorCtr.iRangoSalarial.errors && (errorCtr.iRangoSalarial.invalid || errorCtr.iRangoSalarial.touched)">
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iRangoSalarial.errors.required">* Camp requerit</small>
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iRangoSalarial.errors.minlength">* Ha de tenir com a mínim 8 lletres</small>
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iRangoSalarial.errors.maxlength">* Ha de tenir com a màxim 30 lletres</small>
      </div>

      <ion-list>
        <ion-item>
          <ion-label><h2 class="custom-title">Model treball:</h2></ion-label>
          <ion-select class="form-text" interface="action-sheet" id="iRemoto" formControlName="iRemoto" placeholder="Selecciona..." required>
            <ion-select-option value="Presencial">Presencial</ion-select-option>
            <ion-select-option value="Teletreball">Teletreball</ion-select-option>
            <ion-select-option value="Hibrid">Híbrid</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-label><h2 class="custom-title">Tipus Contracte:</h2></ion-label>
          <ion-select class="form-text" interface="action-sheet" id="iTipoContrato" formControlName="iTipoContrato" placeholder="Selecciona..." required>
            <ion-select-option value="Indefinit">Indefinit</ion-select-option>
            <ion-select-option value="Fix-Discontinu">Fix-Discontinu</ion-select-option>
            <ion-select-option value="Durada determinada">Durada determinada</ion-select-option>
            <ion-select-option value="Formatiu">Formatiu</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-label><h2 class="custom-title">Tipus Jornada:</h2></ion-label>
          <ion-select class="form-text" interface="action-sheet" id="iJornada" formControlName="iJornada" placeholder="Selecciona..." required>
            <ion-select-option value="Completa">Completa</ion-select-option>
            <ion-select-option value="Parcial/Mitja Jornada">Parcial/Mitja Jornada</ion-select-option>
            <ion-select-option value="Partida">Partida</ion-select-option>
            <ion-select-option value="Continua">Continua</ion-select-option>
            <ion-select-option value="Per hores">Per hores</ion-select-option>
            <ion-select-option value="Reduida">Reduida</ion-select-option>
            <ion-select-option value="Nocturna">Nocturna</ion-select-option>
            <ion-select-option value="Per torns">Per torns</ion-select-option>
            <ion-select-option value="Només Festius">Només Festius</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    
      <!--<ion-item>
        <ion-label>Model treball:</ion-label>
        <ion-input class="form-text" id="iRemoto" formControlName="iRemoto" minlength="2" maxlength="30" required></ion-input>
      </ion-item>
      <div *ngIf="errorCtr.iRemoto.errors && (errorCtr.iRemoto.invalid || errorCtr.iRemoto.touched)">
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iRemoto.errors.required">* Camp requerit</small>
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iRemoto.errors.minlength">* Ha de tenir com a mínim 2 lletres</small>
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iRemoto.errors.maxlength">* Ha de tenir com a màxim 30 lletres</small>
      </div>
    
      <ion-item>
        <ion-label>Tipus Contracte:</ion-label>
        <ion-input class="form-text" id="iTipoContrato" formControlName="iTipoContrato" minlength="5" maxlength="35" required> </ion-input>
      </ion-item>
      <div *ngIf="errorCtr.iTipoContrato.errors && (errorCtr.iTipoContrato.invalid || errorCtr.iTipoContrato.touched)">
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iTipoContrato.errors.required">* Camp requerit</small>
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iTipoContrato.errors.minlength">* Ha de tenir com a mínim 5 lletres</small>
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iTipoContrato.errors.maxlength">* Ha de tenir com a màxim 35 lletres</small>
      </div>
    
      <ion-item>
        <ion-label>Tipus Jornada:</ion-label>
        <ion-input class="form-text" id="iJornada" formControlName="iJornada" maxlength="30" required></ion-input>
      </ion-item>      
      <div *ngIf="errorCtr.iJornada.errors && (errorCtr.iJornada.invalid || errorCtr.iJornada.touched)">
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iJornada.errors.required">* Camp requerit</small>
        <small class="error ion-padding" *ngIf="isSubmitted && errorCtr.iJornada.errors.maxlength">* Ha de tenir com a màxim 30 lletres</small>
      </div> -->
    
      <ion-item>
        <ion-label position="stacked"><div class="custom-title textarea-title">Descripció:</div></ion-label>
        <ion-textarea id="iDescripcio" formControlName="iDescripcio" minlength="40" maxlength="600" rows="6" cols="60" required></ion-textarea>
      </ion-item>      
      <div *ngIf="errorCtr.iDescripcio.errors && (errorCtr.iDescripcio.invalid || errorCtr.iDescripcio.touched)">
        <small class="error ion-padding" *ngIf="errorCtr.iDescripcio.errors.required">* Camp requerit</small>        
        <small class="error ion-padding" *ngIf="errorCtr.iDescripcio.errors.minlength">* Ha de tenir com a mínim 40 caràcters</small>
        <small class="error ion-padding" *ngIf="errorCtr.iDescripcio.errors.maxlength">* Ha de tenir com a màxim 600 caràcters</small>
      </div>
      
      <ion-item>
        <ion-label position="stacked"><div class="custom-title textarea-title">Requisits:</div></ion-label>
        <ion-textarea id="iRequirements" formControlName="iRequirements" minlength="40" maxlength="600" rows="6" cols="60" required></ion-textarea>
      </ion-item>      
      <div *ngIf="errorCtr.iRequirements.errors && (errorCtr.iRequirements.invalid || errorCtr.iRequirements.touched)">
        <small class="error ion-padding" *ngIf="errorCtr.iRequirements.errors.required">* Camp requerit</small>        
        <small class="error ion-padding" *ngIf="errorCtr.iRequirements.errors.minlength">* Ha de tenir com a mínim 40 caràcters</small>
        <small class="error ion-padding" *ngIf="errorCtr.iRequirements.errors.maxlength">* Ha de tenir com a màxim 600 caràcters</small>
      </div>

      <p class="ion-text-center ion-padding">
        <ion-button type="submit" fill="solid" color="loginbtn" shape="round"> 
          Actualitzar 
        </ion-button>
         <!--<ion-button type="button" fill="solid" color="danger" shape="round" (click)="cancelEdition()"> 
          Cancel·lar
        </ion-button>-->
      </p>
    </form>
  </div>
</ion-content>
