<ion-header translucent={true}>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-title>My Offers</ion-title>
        </ion-col>
        <ion-col>
          <ion-button size="small" color="danger" expand="full">Crear Nueva</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="container" *ngFor="let offer of cOffers; let i = index" (click)="goOfferDetail(offer.item)">
    <ion-card-content>
      <ion-list lines="none">
        <!-- Info de comprobación -->
        <ion-item>
          <ion-label>
            <ion-text color="danger">
              <h2> Company: {{ company }}</h2>
            </ion-text>           
          </ion-label>          
        </ion-item>

        <ion-item>          
          <ion-thumbnail slot="start">
            <img src="https://source.unsplash.com/random/200x200?sig={{i}}" />
          </ion-thumbnail>
          
          <ion-label>
            <ion-text color="custom">
              <h2> {{ offer.item.title }}</h2>    
            </ion-text>
            <!--            
            <ion-text color="medium">
              <h3> {{ offer.item.rangoSalarial }} € </h3>
            </ion-text>   
            --> 
            <ion-text color="medium">
              <ion-text color="medium"><p><ion-icon name="location-outline"></ion-icon>{{ offer.item.city }}</p></ion-text>
            </ion-text>          
          </ion-label>          
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h3> Inscritos: <ion-text color="medium"> {{ offer.item.enrolled }} </ion-text></h3>
              </ion-col>
              <ion-col>
                <h3> Fecha: <ion-text color="medium">{{ offer.item.date | date: "mediumDate" }}</ion-text></h3>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
 </ion-card>

</ion-content>
