/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/

ion-content {
    .avatar-center { margin:0 auto; width: 130px; height: 130px; margin-top: 25px; margin-bottom: 20px; }
}