<ion-header translucent={true} class="ion-no-border">
  <ion-toolbar color="upmeup">
    <ion-buttons slot="start">
      <!--<ion-back-button defaultHref="/home"></ion-back-button> -->
      <ion-menu-toggle>
        <ion-button>
          <ion-icon color="light" slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <!--<ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon color="light" slot="icon-only" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
  
  <div class="header-class">
    <ion-label class="header-text ion-padding"> 
      <ion-row>
        <ion-col> </ion-col>
        <ion-col size="8">
          <ion-label class="header-text ion-padding">
            <ion-title class="ion-padding" color="light"><b>Ofertes per tu</b></ion-title>
          </ion-label>
        </ion-col>  
        <ion-col>
          <ion-fab-button color="upmeup" (click)="toCandidatures()"> <ion-icon color="light" name="briefcase-outline"></ion-icon> </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-label> 
  </div>
</ion-header>

<ion-content fullscreen={true}>

  <ion-list class="container">    
    <ion-item *ngFor="let offer of sortOffersList" (click)="goOfferDetail(offer.data)" lines="none">
      
      <ion-label size="8">   
        <ion-grid>
          <ion-row>
            <ion-col size="3">  
              <ion-thumbnail class="offer-avatar">
                <img class="offers" src="./../../../assets/thumbnail.svg" />  
              </ion-thumbnail>
            </ion-col>
            <ion-col size="9">
              <ion-text>
                <h2 class="custom-text-space title-color"> {{ offer.data.title }} </h2>
                <ion-text class="custom-text-space" color="medium"><p> {{ sectorName }} </p></ion-text>
              </ion-text>  
             
              <ion-row>
                <ion-col class="custom-text-space" size="7">
                  <ion-text color="dark"><p> {{ offer.data.createdDate | date: 'dd/MM/yyyy' }} </p></ion-text>
                  <ion-text color="medium"><p> {{ offer.data.jornada }} </p></ion-text>
                  <ion-text color="medium">
                    <ion-text color="dark"><p> {{ offer.data.rangoSalarial }}€ </p></ion-text>            
                  </ion-text> 
                </ion-col>
                <ion-col class="custom-text-space" size="5">
                  <ion-text color="medium"><p><ion-icon name="location-outline"></ion-icon><b>{{ offer.data.city }}</b></p></ion-text>
                  <ion-text color="medium"><p> {{ offer.data.remoto }} </p></ion-text>
                </ion-col>
              </ion-row>

              <ion-text color="danger"> <p> ** Match: {{ offer.match }} </p> </ion-text> 
            </ion-col>   
          </ion-row>
        </ion-grid>
      </ion-label>       

    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
