<ion-header translucent={true} class="ion-no-border">
  <ion-toolbar color="upmeup">
    <ion-buttons slot="start">
      <!--<ion-back-button defaultHref="/home"></ion-back-button> -->
      <ion-menu-toggle>
        <ion-button>
          <ion-icon color="light" slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <!--<ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon color="light" slot="icon-only" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
  
  <div class="header-class">  
    <ion-label class="header-text ion-padding">
      <ion-title class="ion-padding" color="light"><b>Ofertes</b></ion-title>
      <!--<ion-button type="submit" fill="solid" color="loginbtn" shape="round"> crear nueva </ion-button>-->
    </ion-label>         
  </div>
</ion-header>

<ion-content fullscreen={true}>

  <ion-list class="container">
    <ion-item *ngFor="let offer of sortOffersList" (click)="goOfferDetail(offer.data)" lines="none">
      <ion-thumbnail slot="start">
        <img src="./../../../assets/thumbnail.svg" />  
      </ion-thumbnail>

      <ion-label size="8">
        <ion-text>
          <h2 class="custom-text-space title-color"> {{ offer.data.title }} </h2>       
          <!-- TODO: Add userName (future?)
            <ion-text color="medium" *ngIf="offer.userId === usersListData._id">
            <h3> {{ usersListData.name }} </h3>
          </ion-text>-->
          <ion-text color="medium">
            <p> {{ offer.data.tipoContrato }} </p>
          </ion-text>
          <!--<ion-text color="medium">
            <ion-text color="dark"><p> {{ offer.data.rangoSalarial }}€ </p></ion-text>            
          </ion-text>-->
          <ion-text color="dark"> <p> <b>** Match: {{ offer.match }}</b> </p> </ion-text> 
        </ion-text>  
      </ion-label>
      <ion-label>
        <div class="ion-text-end">
          <ion-text><p><ion-icon name="location-outline"></ion-icon>{{ offer.data.city }}</p></ion-text>
          <ion-text color="dark"><p> {{ offer.data.createdDate | date: 'dd/MM/yyyy' }} </p></ion-text>
          <!--<ion-text color="dark"><p> {{ offer.data.remoto }} </p></ion-text>-->
          <ion-text color="dark"><p> <b> Inscritos: {{ offer.data.enrolled }} </b> </p></ion-text>
        </div>
      </ion-label>  
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
