<ion-header>
  <!--<ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>UPMEUP</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-slide>
    <div class="container-login">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="content-logo">
              <img src="/assets/UpMeUp-logo.png" alt="UpMeUp logo">
            </div>           
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <form [formGroup]="initForm" (ngSubmit)="submitForm()" novalidate>
              <div class="error-box" *ngIf="isSubmitted && !userExist">
                <ion-label color="danger" class="text-error">Usuario y/o contraseña no son correctos</ion-label>
              </div>
              
              
              <div class="list list-inset input-container">
                <input class="native-input sc-ion-input-md" type="text" placeholder="Email" id="userEmail" formControlName="userEmail" required>
              </div>

              <div class="list list-inset input-container">
                <label class="item item-input">
                  <input class="native-input sc-ion-input-md" type="password" placeholder="Password" id="userPassword" formControlName="userPassword" required>
                </label>
              </div>

              <!--<ion-list>
                <label id="rounded" class="item item-input">
                  <ion-input placeholder="Email" type="text" id="userEmail" formControlName="userEmail" required></ion-input>
                </label>
                // Email Error messages 
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.userEmail.errors?.required"> Email is mandatory </span>-->

                <!--<ion-item lines="full">
                  <ion-input placeholder="Password" type="password" id="userPassword" formControlName="userPassword" required></ion-input>
                </ion-item>
                // Passw Error messages 
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.userPassword.errors?.required"> Password is mandatory </span>
              </ion-list> -->
                      
              <!-- (click)="loginIn(user)"-->              
              <ion-button type="submit" fill="solid" color="loginbtn" expand="block" [disabled]="!initForm.valid"> Sign In </ion-button>
                
            </form>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <div *ngIf="error">
              Error :(
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label>
              <a [routerLink]="['/login']" class="small-text">¿Has olvidado tu contraseña?</a>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-slide>

</ion-content>
