/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/


ion-content { 
    --ion-background-color: #c8e3d6;

    .container { 
        --ion-background-color: #f2f2f2; 
    
        .custom-line { white-space: normal !important; }
    }
}

/* Outside toolbar */
.header-class { 
    .header-text { display:block; text-align: center; text-transform: uppercase; background-color:  var(--ion-color-upmeup); }
}

/**
*** Web Responsive style
**/
@media (min-width: 1020px) {
    ion-card { width: 50%; margin: 10px auto; }
    ion-toolbar {
        ion-button { width: 80%; }
    }
    .noEnrolled { width: 50%; margin: 0 auto !important; }
}