/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/

ion-content { 
    ion-header { box-shadow: none !important; }

    .container { 
        --ion-background-color: #f2f2f2; 

        .center-class { text-align: center; }  

        ion-card.card-title {
            margin: 0;
            box-shadow: none;
            background: var(--ion-color-upmeup);
            border-bottom: 4px solid #c8e3d6;
            border-radius: 0;
        }

        ion-card-header {
            ion-label { color: white; margin-top: 15px; margin-bottom: 15px; }
            ion-thumbnail img { border-radius: 50%; }
            .avatar-center { margin:0 auto; width: 130px; height: 130px; margin-top: 25px; margin-bottom: 20px; }
        }

        /* Content */
        ion-card.content-info { 
            margin: 0; 
            border-radius: 0; 
            
            ion-button { 
                margin: 30px 15px; 
                font-weight: bold; 
                height: 40px; 
                text-transform: capitalize; 
                
                .edit-btn { margin: 0 !important; }
                span { color: white; }
            }
        }
        ion-card-content {
            h4.margin { margin: 25px 15px 25px 15px;} 
            .custom-title { color: var(--ion-color-upmeup); font-weight: bold; }
            .custom-subtitle { color: #3f99b4; font-weight: bold; }

            .edit-btn {
                border-radius: 50%;
                height: 25px;
                width: 25px;
                background: #4acdba;
                color: #FFF;
                box-shadow: 0px 2px 3px 0px #b0b0b0;
            }
        }

        // Soft-Skills style
        ion-grid {
            padding: 0 !important;

            ion-col {
                padding: 0 !important;

                .custom-label {
                    white-space: normal;
                }
            }
        }
        
        ion-fab-button { width: 45px; height: 45px; }

        .exp-title {
            h3 { font-weight: bold; margin-top: 25px;} 
            h5 { margin-bottom: 25px;} 
        }

    }
}
        
/**
*** Web Responsive style
**/
@media (min-width: 1020px) {
    ion-card-content { 
        width: 50%; 
        margin: 0 auto; 
    
        ion-button { width: 40%; margin: 30px auto !important; }    
    }
}