<ion-header class="ion-no-border">
  <ion-toolbar color="upmeup">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon color="light" slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="logOut()">
        <ion-icon color="light" slot="icon-only" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>   
   
  <div class="header-class"> 
    <ion-thumbnail class="avatar-center">
      <img src="./../../../assets/avatar.svg" />
    </ion-thumbnail>  
    <ion-label class="header-text">  
      <ion-grid class="ion-padding-top ion-padding-bottom">
        <ion-row>
          <ion-col class="ion-text-center"> 
            <ion-title> <ion-label class="title-offer" color="light">
               {{ userInfo.name }} {{userInfo.surname}} 
               <h3> de {{userInfo.city}} </h3> </ion-label>
            </ion-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>        
          
    <!-- Skills -->
    <ion-fab horizontal="end">
      <ion-fab-button color="upmeup" size="small" (click)="openModal()"> <ion-icon name="create-outline" style="color: #5a7266;"></ion-icon> </ion-fab-button>
    </ion-fab>
    
    <ion-grid>
      <div class="ion-padding-bottom" *ngIf="userSkills.length === 0">
        <div class="header-text ion-padding">
          <ion-label color="danger" class="ion-text-start">
            Encara no tens valors seleccionats
          </ion-label> 
        </div>
      </div>

      <div class="skills-info ion-padding-top ion-padding-bottom" *ngIf="userSkills?.length > 0">
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" *ngFor="let skill of skillsIco">
            <div class="custom-icon">
              <ion-label class="title-offer">
                <ion-icon class="{{skill.sClass}} custom-icon"></ion-icon>
                <span><b>{{ skill.sname }}</b></span>
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
    <div class="head-line"></div>
  </div>

  <!-- Content -->
  <ion-fab horizontal="end">
    <ion-fab-button size="small" (click)="editModal()"> <ion-icon style="color: #5a7266;" name="create-outline"></ion-icon> </ion-fab-button>
  </ion-fab>
  
  <div class="container">
    <ion-card class="content-info"> 
      <ion-card-content>
        <div class="center-class margin-fab-btn">  
          <ion-label>
            <h2 class="custom-title"> {{ userInfo.jobPosition }} </h2>
            <h4> <b>Sector:</b> {{ sectorName }} </h4>
            <h3 class="custom-subtitle"> {{ userInfo.experience }} anys d'experiencia </h3>
          </ion-label>               
        </div>

        <div class="center-class">
          <ion-label>
            <h4 class="margin"> {{ userInfo.lastJobTasks }} </h4>
          </ion-label>    
        </div>

        <!-- Competències -->
        <div class="center-class" *ngIf="userCompets">  
          <ion-label class="cv-title">
            <h2 class="custom-title"> Competències/Habilitats </h2>
          </ion-label> 
          <ion-label>
            <h4 class="margin">
              <ion-chip *ngFor="let compet of userCompets">
                <ion-label> {{ compet.name }} </ion-label>
              </ion-chip>
            </h4>
          </ion-label>
        </div>

        <!-- Experience -->
        <div class="center-class">  
          <ion-label class="exp-title">
            <h2 class="custom-title"> Titulació </h2>
            <h3 class="bold"> {{userInfo.eduLevel}} </h3>
            <h5> Universitat Autónoma Bcn </h5>
          </ion-label> 
        </div>

        <div class="center-class">  
          <ion-label class="cv-title">
            <h2 class="custom-title"> Idiomes </h2>
          </ion-label> 
          <ion-label>
            <h4 class="margin">
              <ion-row size="12">
                <ion-col size="6" *ngFor="let lang of userInfo?.languages">
                  <ion-chip>
                    <ion-label><b> {{ lang }} </b></ion-label>
                  </ion-chip>               
                </ion-col>
              </ion-row>
            </h4>
          </ion-label>
        </div>

        <!--<div class="center-class">  
          <ion-label class="cv-title">
            <h2 class="custom-title"> Curriculum Vitae </h2>
          </ion-label> 
          <ion-label>
            <h4 class="margin">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt
              molestie pharetra. Cras non massa in diam gravida imperdiet. 
            </h4>
          </ion-label>
        </div>-->

      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
