<ion-header class="ion-no-border">
  <ion-toolbar color="upmeup">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon color="light" slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="logOut()">
        <ion-icon color="light" slot="icon-only" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <div class="header-class"> 
    <ion-label class="header-text ion-padding">
      <div>
        <ion-row>
          <ion-col> 
            <ion-title class="ion-padding"> <ion-label class="title-offer" color="light">
               {{ userName }} {{userInfo?.surname}} 
               <h3> de {{userInfo?.city}} </h3> </ion-label>
            </ion-title>
          </ion-col>
        </ion-row>
      </div>
    </ion-label> 
    <ion-thumbnail class="avatar-center">
      <img src="./../../../assets/avatar.svg" />
    </ion-thumbnail>         
          
    <!-- Skills -->
    <ion-row>
      <ion-col> </ion-col>
      <ion-col size="8"> </ion-col>
      <ion-col>
        <ion-fab vertical="center" horizontal="end">
          <ion-fab-button color="upmeup" (click)="openModal()"> <ion-icon name="create-outline" color="light"></ion-icon> </ion-fab-button>
        </ion-fab>
      </ion-col>
    </ion-row>
    
    <ion-grid class="skills-info">
      <div class="ion-padding-top" *ngIf="userSkills.length === 0">
        <div class="ion-padding">
          <ion-label color="danger" class="ion-text-start">
            Encara no tens valors seleccionats
          </ion-label> 
        </div>
      </div>

      <div class="ion-padding-top" *ngIf="userSkills?.length > 0">
        <ion-row>
          <ion-col size="6" *ngFor="let skill of userSkills">
            <div class="custom-icon">
              <ion-label class="title-offer">
                <h4>
                  <ion-icon class="values-ico-style" name="rocket" slot="icon-only" size="small" slot="start"></ion-icon>
                  {{ skill.name }}
                </h4>
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>

</ion-header>

<ion-content> 
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="light" (click)="editModal()"> <ion-icon style="color: #5a7266;" name="create-outline"></ion-icon> </ion-fab-button>
  </ion-fab>

  <div class="container">
    <ion-card class="content-info"> 
      <ion-card-content>
        <div class="center-class">  
          <ion-label>
            <h2 class="custom-title"> {{ userInfo?.jobPosition }} </h2>
            <h4> <b>Sector:</b> {{ sectorName }} </h4>
            <h3 class="custom-subtitle"> {{ userInfo?.experience }} anys d'experiencia </h3>
          </ion-label> 
          <ion-label>
            <h4 class="margin"> {{ userInfo?.lastJobTasks }} </h4>
          </ion-label>        
        </div>

        <!-- Experience -->
        <div class="center-class">  
          <ion-label class="exp-title">
            <h2 class="custom-title"> Titulació </h2>
            <h3 class="bold"> {{userInfo?.eduLevel}} Tec. en RRHH </h3>
            <h5> Universitat Autónoma Bcn </h5>
          </ion-label> 
        </div>

        <div class="center-class">  
          <ion-label class="cv-title">
            <h2 class="custom-title"> Idiomes </h2>
          </ion-label> 
          <ion-label>
            <h4 class="margin">
              <ion-chip *ngFor="let lang of userInfo?.languages">
                <ion-label> {{ lang }} </ion-label>
              </ion-chip>
            </h4>
          </ion-label>
        </div>

        <div class="center-class">  
          <ion-label class="cv-title">
            <h2 class="custom-title"> Curriculum Vitae </h2>
          </ion-label> 
          <ion-label>
            <h4 class="margin">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt
              molestie pharetra. Cras non massa in diam gravida imperdiet. 
            </h4>
          </ion-label>
        </div>

      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
