
ion-content { 
    --ion-background-color: #464646;
    // --ion-background-color: -moz-linear-gradient(45deg, rgb(51, 97, 197) 0%, rgba(231, 181, 73, 0.8) 100%);
    // --ion-background-color: -webkit-linear-gradient(45deg, rgba(51, 97, 197) 0%, rgba(231, 181, 73, 0.8) 100%);
    // --ion-background-color: linear-gradient(45deg, rgba(51, 97, 197) 0%, rgba(231, 181, 73, 0.8) 100%);
        
    .container-login { background-color: #ffffff; width: 375px; padding: 30px; }
    .avatar-center { margin:0 auto; width: 100px; height: 100px; margin-bottom: 15px; }
    .text-error { font-size: 15px; }
    
    ion-grid { --ion-background-color: #ffffff; }
    ion-icon { margin-right: 15px; }
    ion-button { margin-top: 5px; margin-bottom: 15px; }

    ion-list .error { font-size: 15px; color: #eb445a; }

    a { font-size: 15px; }
}



