<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     <!-- <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle> -->
    </ion-buttons>
    <ion-title>UPMEUP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slide>
    <div class="container-login">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-thumbnail class="avatar-center">
              <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?f=y"/>
            </ion-thumbnail>            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item lines="full">
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" required></ion-input>
              </ion-item>
              <ion-item lines="full">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" required></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row><!-- NGIF: User <goto> offerlist | UserCmp <goto> company-profile -->
          <ion-col> 
            <ion-button type="submit" fill="solid" expand="full" color="danger" [routerLink]="['/company-profile']"> Sign In </ion-button>
          </ion-col>
        </ion-row> 
        <ion-row>
          <ion-col>
            <ion-button type="submit" fill="solid" expand="full" color="danger" [routerLink]="['/offer-list']"> Sign In </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label>
              <a [routerLink]="['/login']" class="small-text">¿Has olvidado tu contraseña?</a>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-slide>

</ion-content>


<!--
<ion-content>
  <div class="container-login">
    <ion-card class="ion-align-items-center">
      <ion-card-header>
        <ion-card-subtitle>Iniciar Sesión</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <form>
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" required></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" required></ion-input>
          </ion-item>
          <ion-row>
            <ion-col>  NGIF: User <goto> offerlist | UserCmp <goto> company-profile 
              <ion-button type="submit" color="danger" expand="block" [routerLink]="['/offer-list']">Sign In</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
-->