<ion-header> </ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
    <ion-slide>
      <div class="container-login">
        <h2>Benvingut/a a</h2>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="content-logo">
                <img src="/assets/UpMeUp-logo.png" alt="UpMeUp logo">
              </div>    
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button class="big-button" fill="solid" color="light" shape="round" (click)="toRegister()"> 
                <span class="small-text">Començar</span>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
