<ion-header>
  <ion-toolbar color="upmeup">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/offer-list"></ion-back-button>
    </ion-buttons>

    <!--<ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon color="light" slot="icon-only" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>

  <div class="header-class">   
    <ion-thumbnail class="avatar-center" >
      <img class="profile" src="./../../../assets/thumbnail.svg" />
    </ion-thumbnail> 
    <ion-label class="header-text ion-padding">
      <ion-title class="ion-padding"> 
        <ion-label class="title-offer" color="light"><b> {{ offer.title }} </b></ion-label>
      </ion-title>
      <ion-label color="light"><h3  class="ion-text-center"> {{ userInfo?.name }} </h3></ion-label>
    </ion-label>
    
    <ion-grid class="grid-info">
      <div class="ion-padding-bottom" *ngIf="userSkills.length === 0">
        <div class="text-no-valors ion-padding">
          <ion-label color="danger" class="ion-text-start">
            Encara no tens valors seleccionats
          </ion-label> 
        </div>
      </div>

      <div class="ion-padding-top ion-padding-bottom" *ngIf="userSkills?.length > 0">  
        <ion-row>
          <ion-col size="6" *ngFor="let skill of skillsIco">
            <div class="custom-icon">
              <ion-label class="title-offer">
                <ion-icon class="{{skill.sClass}} custom-icon"></ion-icon>
                <span><b>{{ skill.sname }}</b></span>
              </ion-label>
            </div>
          </ion-col>
        </ion-row>
      </div> 
    </ion-grid>
  </div>

</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
        
      <!--<ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>Nivel de Match:</ion-label> 70%
              <ion-progress-bar color="success" value="0.7"></ion-progress-bar> 
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header> -->

      <ion-card-content>
        <ion-list lines="none"> 
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-grid>
                  <div class="enrolled-ico custom-icon">
                    <ion-label> {{ offer?.enrolled }} </ion-label> 
                  </div>
                </ion-grid>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-grid>
                  <div class="calendar-ico custom-icon">
                    <ion-label> {{ offer.createdDate | date: 'dd/MM/yyyy' }}  </ion-label>
                  </div>
                </ion-grid>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-grid>
                  <div class="location-ico custom-icon">
                    <ion-label> {{ offer?.jornada }} </ion-label> 
                  </div>
                </ion-grid>
              </ion-item>              
            </ion-col>
            <ion-col size="6">    
              <ion-item>
                <ion-grid>
                  <div class="jornada-ico custom-icon">
                    <ion-label> {{ offer?.city }} </ion-label> 
                  </div>
                </ion-grid>
              </ion-item>
            </ion-col>
          </ion-row>

        </ion-list>

        <!-- Competencies -->
        <ion-item *ngIf="userCompets">
          <div class="center-class">
            <ion-label class="cv-title">
              <h2 class="custom-title"> Competencies/Habilitats </h2>
            </ion-label> 
            <ion-label class="chip-space">
              <h4 class="margin">
                <ion-chip *ngFor="let compet of userCompets">
                  <ion-label> {{ compet.name }} </ion-label>
                </ion-chip>
              </h4>
            </ion-label>
          </div>
        </ion-item>

        <div *ngIf="isEnrolled > 0" class="ion-padding-top"> 
          <ion-label color="dark-upmeup" class="ion-text-center">
            <h2 class="ion-padding-bottom"> <b>Ja ets aspirant! Molta sort!</b> </h2>
          </ion-label>
        </div>

        <ion-button *ngIf="isEnrolled === -1" size="small" color="danger" expand="full" shape="round" 
          (click)="addEnrroled(offer._id, offer.enrolled)">
              Inscribirme
        </ion-button>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>
