/***************************************************************************/
/***************************** Custom Styles *******************************/
/***************************************************************************/

ion-content { 
    --ion-background-color: #c8e3d6;
	ion-header { box-shadow: none !important; }
	
	.container {
        --ion-background-color: #f2f2f2;
        .center-class { text-align: center; }  
		
		ion-card-content { 
			padding: 0px; 
		
			h4.margin { margin: 25px 15px 25px 15px;} 
            .custom-title { color: #8cb2a1; font-weight: bold; }
			.chip-space { white-space: normal; }
		}

		ion-card {            
			.user-avatar { width: 85px; height: 85px; }
			img.users { border-radius: 10%; }
		}
	}

	.text-space { white-space: normal; }
	.separator { border: 1px solid #4acdba; margin: 85px 0 0px 105px; position: fixed; width: 85%; z-index: 2; }

    ion-card { 
		.user-avatar { width: 85px; height: 85px; }
		img.users { border-radius: 10%; }
	
	    ion-label ion-icon { 
			width: 30px; 
			height: 30px; 
			margin: 0 10px; 
			vertical-align: bottom; 
		}
		
		.custom-icon {
			margin-left: 10px;
	
			ion-label { margin-left: 30px; vertical-align: middle; color: #5a7266; white-space: inherit; }
		}
	
	}
}

/* Outside toolbar header */
.header-class { 
    background-color: var(--ion-color-upmeup);
    
    ion-thumbnail { margin:0 auto; width: 130px; height: 130px; }
    img { border-radius: 50%; }
    .header-text { display: block; text-align: center; text-transform: uppercase; }
	.text-no-valors { display: block; text-align: center; font-size: 14px; }

    .grid-info { 
		margin: 0px 30px; font-size: 14px; font-weight: 700; 
		ion-col { margin-top: 0px; }
	}

	ion-label ion-icon { 
        width: 40px; 
        height: 40px; 
        vertical-align: middle; 
    }

    .title-offer { white-space: normal; }
	.custom-icon { 
		ion-label { color: #5a7266; }
		span { margin-left: 5px; font-size: 13px; }
	}
}

/**
*** Web Responsive style
**/
@media (min-width: 720px) {
    ion-card { width: 50%; margin: 10px auto; }    

	ion-content {
		.container {
			ion-card-content { padding: 0px; }
		}
	}
}