<ion-header>
  <ion-toolbar color="upmeup">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/offer-list"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Offer-Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col> </ion-col>
        <ion-col size="6"> 
          <ion-thumbnail class="avatar-center">
            <img src="./../../../assets/thumbnail.svg" />
          </ion-thumbnail>
          <ion-card-title class="ion-text-center"> {{ userInfo?.name }} </ion-card-title> 
        </ion-col>
        <ion-col> </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Nivel de Match:</ion-label> 70%
            <ion-progress-bar color="success" value="0.7"></ion-progress-bar> 
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list lines="none" *ngIf="userSkills.length === 0">  
        <ion-item>
          <ion-grid>
            <div class="ion-padding">
              <ion-label color="danger" class="ion-text-start">
                Todavía no tienes valores
              </ion-label> 
            </div>
          </ion-grid>
        </ion-item>
      </ion-list>

      <ion-list lines="none" *ngIf="userSkills.length > 0">  
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="6" *ngFor="let skill of userSkills">
                <div class="custom-values">
                  <ion-icon class="values-ico-style" name="rocket" slot="icon-only" size="small" slot="start"></ion-icon>
                  <ion-label>                      
                    <h4> {{skill.name}} </h4>
                  </ion-label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>  

      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-card-title>{{ offer?.title }}</ion-card-title>
            <div> {{ offer?.eduLevel }} </div>
            <ion-card-subtitle> {{ offer?.city }} </ion-card-subtitle>
          </ion-col>
          <ion-col>
            <div>
              <ion-card-subtitle>{{ offer.rangoSalarial }}€</ion-card-subtitle>
              <ion-card-subtitle>{{ offer.remoto }}</ion-card-subtitle>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <div>
              <p>Contrato: {{ offer.tipoContrato }}</p>     
              <p>Jornada: {{ offer.jornada }}</p>                    
            </div>
          </ion-col>
          <ion-col>
            <p>{{ offer.createdDate | date: 'dd/MM/yyyy' }}</p>  
            <div>Inscritos: {{ offer.enrolled }}</div> 
          </ion-col>
        </ion-row>
      </ion-grid> 

      <ion-grid>
        <ion-row>
          <ion-col size="4"> <p>Descripción:</p> </ion-col>
          <ion-col size="8">             
            <div> {{ offer.description }} </div>
          </ion-col>
          <ion-col> </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button size="small" color="danger" expand="full" shape="round" (click)="addEnrroled(offer._id, offer.enrolled)" >Inscribirme</ion-button>
         
    </ion-card-content>
  </ion-card>
</ion-content>
