.ion-color-custom {
	--ion-color-base: var(--ion-color-custom);
	--ion-color-base-rgb: var(--ion-color-custom-rgb);
	--ion-color-contrast: var(--ion-color-custom-contrast);
	--ion-color-contrast-rgb: var(--ion-color-custom-contrast-rgb);
	--ion-color-shade: var(--ion-color-custom-shade);
	--ion-color-tint: var(--ion-color-custom-tint);
}

ion-content { 
    --ion-background-color: #464646;

    ion-card { 
        --ion-background-color: #f2f2f2; 
		.avatar-center { margin:0 auto; width: 130px; height: 130px; margin-top: 25px; margin-bottom: 20px; }
	}
}

/**
*** Web Responsive style
**/
@media (min-width: 1020px) {
    ion-card { width: 50%; margin: 10px auto; }    
}