<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/offer-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Offer-Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col> </ion-col>
        <ion-col size="8"> 
          <img src="https://source.unsplash.com/random/200x200?sig=1" />
        </ion-col>
        <ion-col> </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>Nivel de Match:</ion-label> 70%
            <ion-progress-bar color="success" value="0.7"></ion-progress-bar> 
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-card-subtitle>{{ offer.title }}</ion-card-subtitle>
            <ion-card-title> {{ offer.city }} </ion-card-title>
          </ion-col>
          <ion-col>
            <div>
              <ion-card-subtitle>{{ offer.rangoSalarial }}</ion-card-subtitle>
              <ion-card-subtitle>{{ offer.remoto }}</ion-card-subtitle>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>

     <!-- <ion-grid>
        <ion-row>
          <ion-col size="8">
            <div>
              <p>{{ offer.address }}</p>
              <p>{{ offer.phone }}</p>
              <p>{{ offer.city }}</p>
            </div>
          </ion-col>
          <ion-col>
            <div>{{ offer.valuesType }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>-->

      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <div>
              <p>Contrato: {{ offer.tipoContrato }}</p>     
              <p>Jornada: {{ offer.jornada }}</p>                    
            </div>
          </ion-col>
          <ion-col>
            <p>{{ offer.createdDate | date: 'dd/MM/yyyy' }}</p>  
            <div>Inscritos: {{ offer.enrolled }}</div> 
          </ion-col>
        </ion-row>
      </ion-grid> 
      
      <!-- TODO: Update Offer +1 enrolled -->
      <ion-button size="small" color="custom" expand="full" (click)="addEnrroled(offer._id, offer.enrolled)" >Inscribirme</ion-button>
         
    </ion-card-content>
  </ion-card>
</ion-content>
