/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*** Global Font ***/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

*:not(ion-icon) { font-family: 'Montserrat', sans-serif !important; }

 // Global Autofill to inputs:
 input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus,
 input:-webkit-autofill:active,
 select:-webkit-autofill,
 select:-webkit-autofill:hover,
 select:-webkit-autofill:focus {
     -webkit-box-shadow: 0 0 0 30px #fff inset !important;
     -moz-box-shadow: 0 0 0 100px #fff inset !important;
     box-shadow: 0 0 0 100px #fff inset !important;
 }

 input:-webkit-autofill {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

/***************************************************************************/
/************************** Global Custom Styles ***************************/
/***************************************************************************/

.margin-top { margin-top: 15px; }
.margin-bottom { margin-bottom: 15px; }
.margin-left { margin-left: 15px; }
.margin-right { margin-right: 15px; }

.padding-top { padding-top: 15px; }
.padding-bottom { padding-bottom: 15px; }
.padding-left { padding-left: 15px; }
.padding-right { padding-right: 15px; }

.title-color { color: #7d9e9c !important; }
ion-toolbar ion-title { text-transform: uppercase; }

.ion-color-upmeup {
    --ion-color-base: var(--ion-color-upmeup);
    --ion-color-base-rgb: var(--ion-color-upmeup-rgb);
    --ion-color-contrast: var(--ion-color-upmeup-contrast);
    --ion-color-contrast-rgb: var(--ion-color-upmeup-contrast-rgb);
    --ion-color-shade: var(--ion-color-upmeup-shade);
    --ion-color-tint: var(--ion-color-upmeup-tint);
}

.ion-color-dark-upmeup {
    --ion-color-base: var(--ion-color-dark-upmeup);
    --ion-color-base-rgb: var(--ion-color-dark-upmeup-rgb);
    --ion-color-contrast: var(--ion-color-dark-upmeup-contrast);
    --ion-color-contrast-rgb: var(--ion-color-dark-upmeup-contrast-rgb);
    --ion-color-shade: var(--ion-color-dark-upmeup-shade);
    --ion-color-tint: var(--ion-color-dark-upmeup-tint);
}

.ion-color-login-dgDark {
    --ion-color-base: var(--ion-color-login-dgDark);
    --ion-color-base-rgb: var(--ion-color-login-dgDark-rgb);
    --ion-color-contrast: var(--ion-color-login-dgDark-contrast);
    --ion-color-contrast-rgb: var(--ion-color-login-dgDark-contrast-rgb);
    --ion-color-shade: var(--ion-color-login-dgDark-shade);
    --ion-color-tint: var(--ion-color-login-dgDark-tint);
}

.ion-color-loginbtn {
    --ion-color-base: var(--ion-color-loginbtn);
    --ion-color-base-rgb: var(--ion-color-loginbtn-rgb);
    --ion-color-contrast: var(--ion-color-loginbtn-contrast);
    --ion-color-contrast-rgb: var(--ion-color-loginbtn-contrast-rgb);
    --ion-color-shade: var(--ion-color-loginbtn-shade);
    --ion-color-tint: var(--ion-color-loginbtn-tint);
}

.ion-color-candidateok {
	--ion-color-base: var(--ion-color-candidateok);
	--ion-color-base-rgb: var(--ion-color-candidateok-rgb);
	--ion-color-contrast: var(--ion-color-candidateok-contrast);
	--ion-color-contrast-rgb: var(--ion-color-candidateok-contrast-rgb);
	--ion-color-shade: var(--ion-color-candidateok-shade);
	--ion-color-tint: var(--ion-color-candidateok-tint);
}

/***** Custom Icons *****/
.calendar-ico { background: url('./icons/data.png') 0 0 / 19px 19px no-repeat; }
.enrolled-ico { background: url('./icons/inscrits.png') 0 0 / 23px 18px no-repeat; }
.jornada-ico { background: url('./icons/jornada.png') 0 0 / 19px 19px no-repeat; }
.salary-ico { background: url('./icons/sou.png') 0 0 / 23px 19px no-repeat; }
.location-ico { background: url('./icons/ubicacio.png') 0 0 / 20px 20px no-repeat; }
.remoto-ico { background: url('./icons/model_de_treball.png') 0 0 / 22px 19px no-repeat; }


/* Modal Styles */
.modalCss {
    --height: 775px !important;
}