



/* Custom Styles */
ion-list {
    .center-class { text-align: center; font-size: 18px; margin-bottom: 35px; }  
    .avatar-center { margin:0 auto; margin-bottom: 15px; }
  }
  
.activate-item { border-left: 5px solid var(--ion-color-danger); }