<ion-header></ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
 
    <ion-slides [options]="slideOpts" #registerSlider>
      <ion-slide>
        <div class="container-short">
          <ion-grid>
            <h2>Com vols entrar a l'aplicació?</h2>
            <ion-row class="padding-btn">
              <ion-col size="12">
                <ion-button class="big-button" fill="solid" color="light" shape="round" (click)="getType('iType', '2')"> 
                  <b>Empresa/Entitat</b>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-button class="big-button" fill="solid" color="light" shape="round" (click)="getType('iType', '1')"> 
                  <b>Treballador/a</b>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-slide>

      <!-- Form 1 -->
      <ion-slide>
        <div class="container">      
          <form [formGroup]="formSlide1" (ngSubmit)="submitForm()" novalidate>
            <ion-grid>
              <h2 *ngIf="userType === '1'">Nom</h2>
              <h2 *ngIf="userType === '2'">Nom de l'empresa o entitat</h2>
              <ion-row>
                <ion-col size="12">
                  <div class="list list-inset input-container">
                    <input class="native-input sc-ion-input-md" type="text" placeholder="Nom" id="iName" formControlName="iName" minlength="2" maxlength="40" required>
                  </div>
                  <div *ngIf="errorsSld1.iName.errors && (errorsSld1.iName.invalid || errorsSld1.iName.touched)">
                    <small class="error ion-padding" *ngIf="errorsSld1.iName.errors.required">* Camp requerit</small>        
                    <small class="error ion-padding" *ngIf="errorsSld1.iName.errors.minlength || errorsSld1.iName.errors.maxlength">* Ha de tenir com a mínim 2 i 
                        com a máxim 40 caràcters</small>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid *ngIf="userType === '1'">
              <h2>Cognoms</h2>
              <ion-row>
                <ion-col size="12">
                  <div class="list list-inset input-container">
                    <input class="native-input sc-ion-input-md" type="text" placeholder="Cognom" id="iSurname" formControlName="iSurname" minlength="3" maxlength="40" required>
                  </div>
                  <div *ngIf="errorsSld1.iSurname.errors && (errorsSld1.iSurname.invalid || errorsSld1.iSurname.touched)">
                    <small class="error ion-padding" *ngIf="errorsSld1.iSurname.errors.required">* Camp requerit</small>        
                    <small class="error ion-padding" *ngIf="errorsSld1.iSurname.errors.minlength || errorsSld1.iSurname.errors.maxlength">* Ha de tenir com a mínim 3 i 
                        com a máxim 40 caràcters</small>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <h2>Ciutat de residencia</h2>
              <ion-row>
                <ion-col size="12">
                  <div class="list list-inset input-select-container">
                    <ion-select class="form-text" interface="action-sheet" id="iCity" formControlName="iCity" minlength="1" maxlength="80"
                      placeholder="Selecciona..." required>
                      <ion-select-option *ngFor="let city of cityList" value="{{city}}">{{city}}</ion-select-option>
                    </ion-select>
                  </div>
                </ion-col>
              </ion-row>              
              <ion-row class="padding-btn">
                <ion-col size="12"> 
                  <ion-button type="submit" fill="solid" color="loginbtn" expand="block" shape="round" [disabled]="!formSlide1.valid"> Continuar </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </div>       
      </ion-slide>

      <!-- Form 2 -->
      <ion-slide>
        <div class="container">
          <form [formGroup]="formSlide2" (ngSubmit)="submitForm()" novalidate>
            <ion-grid>
              <h2>Email</h2>
              <ion-row>
                <ion-col size="12">
                  <div class="list list-inset input-container">
                    <input class="native-input sc-ion-input-md" type="email" placeholder="Email" id="iEmail" formControlName="iEmail" minlength="8" required>
                  </div>
                  <div *ngIf="errorsSld2.iEmail.errors && (errorsSld2.iEmail.invalid || errorsSld2.iEmail.touched)">
                    <small class="error ion-padding" *ngIf="errorsSld2.iEmail.errors?.required">* Camp requerit</small><br>   
                    <small class="error ion-padding" *ngIf="errorsSld2.iEmail.errors">* L'Email introduït no és vàlid (evita fer servir majúscules o espais)</small><br>
                    <small class="error ion-padding" *ngIf="errorsSld2.iEmail.errors?.minlength">* Ha de tenir com a mínim 8 caràcters</small>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <h2>Contrasenya</h2>
              <ion-row>
                <ion-col size="12">
                  <div class="list list-inset input-container">
                    <input class="native-input sc-ion-input-md" type="password" placeholder="Password" id="iPassword" formControlName="iPassword" minlength="8" maxlength="16"
                     required>
                  </div>
                  <div *ngIf="errorsSld2.iPassword.errors && (errorsSld2.iPassword.invalid || errorsSld2.iPassword.touched)">
                    <small class="error ion-padding" *ngIf="errorsSld2.iPassword.errors?.required">* Camp requerit</small><br>                    
                    <small class="error ion-padding" *ngIf="errorsSld2.iPassword.errors?.pattern">
                      * La contrasenya ha de tenir entre 8 i 16 caràcters, almenys un dígit, almenys una minúscula i almenys una majúscula.
                    </small><br>
                    <small class="error ion-padding" *ngIf="errorsSld2.iPassword.errors?.minlength">* Ha de tenir com a mínim 8 caràcters</small>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <h2>Confirmar contrasenya</h2>
              <ion-row>
                <ion-col size="12">
                  <div class="list list-inset input-container">
                    <input class="native-input sc-ion-input-md" type="password" placeholder="Confirm Password" id="confirmPassword" formControlName="confirmPassword" minlength="8" 
                     maxlength="16" required>
                  </div>
                  <div *ngIf="errorsSld2.confirmPassword.errors && (errorsSld2.confirmPassword.invalid || errorsSld2.confirmPassword.touched)">
                    <small class="error ion-padding" *ngIf="errorsSld2.confirmPassword.errors?.required">* Camp requerit</small><br>
                    <small color="danger" class="error ion-padding" *ngIf="errorsSld2.confirmPassword.errors?.matching">* El password no coincideix</small>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row class="padding-btn">
                <ion-col size="12"> 
                  <ion-button type="submit" fill="solid" color="loginbtn" expand="block" shape="round" [disabled]="!formSlide2.valid"> Continuar </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </div>       
      </ion-slide>

      <!-- Form 3 -->
      <ion-slide>
        <div class="container-medium">
          <form [formGroup]="formSlide3" (ngSubmit)="submitForm()" novalidate>
            <ion-grid *ngIf="userType === '1'">
              <h2>Ultim carrec o feina</h2>
              <ion-row>
                <ion-col size="12">
                  <div class="list list-inset input-container">
                    <input class="native-input sc-ion-input-md" type="text" placeholder="Carrec" id="iJobPos" formControlName="iJobPos" minlength="4" maxlength="40" required>
                  </div>
                  <div *ngIf="errorsSld3.iJobPos.errors && (errorsSld3.iJobPos.invalid || errorsSld3.iJobPos.touched)">
                    <small class="error ion-padding" *ngIf="errorsSld3.iJobPos.errors.required">* Camp requerit</small>        
                    <small class="error ion-padding" *ngIf="errorsSld3.iJobPos.errors.minlength || errorsSld3.iJobPos.errors.maxlength">* Ha de tenir com a mínim 4 i 
                        com a máxim 40 caràcters</small>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <h2 *ngIf="userType === '1'">Sector</h2>
              <h2 *ngIf="userType === '2'">A quin sector pertany?</h2>
              <ion-row>
                <ion-col size="12">
                  <div class="list list-inset input-select-container">
                    <ion-select class="form-text" interface="action-sheet" id="iSector" formControlName="iSector" placeholder="Selecciona..." minlength="1" maxlength="40" required>
                      <ion-select-option *ngFor="let sector of sectorList" class="native-input sc-ion-input-md" value="{{sector._id}}"> {{sector.name}} </ion-select-option>
                    </ion-select>
                  </div>
                  <div *ngIf="errorsSld3.iSector.errors && (errorsSld3.iSector.invalid || errorsSld3.iSector.touched)">
                    <small class="error ion-padding" *ngIf="errorsSld3.iSector.errors.required">* Camp requerit</small>        
                    <small class="error ion-padding" *ngIf="errorsSld3.iSector.errors.minlength || errorsSld3.iSector.errors.maxlength">* Ha de tenir com a mínim 1 i 
                        com a máxim 40 caràcters</small>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid *ngIf="userType === '1'">
              <h2>Anys d'experiencia laboral</h2>
              <ion-row>
                <ion-col size="12">
                  <div class="list list-inset input-container">
                    <input class="native-input sc-ion-input-md" type="text" placeholder="Experiencia" id="iExp" formControlName="iExp" minlength="1" maxlength="2" required> anys
                  </div>
                  <div *ngIf="errorsSld3.iExp.errors && (errorsSld3.iExp.invalid || errorsSld3.iExp.touched)">
                    <small class="error ion-padding" *ngIf="errorsSld3.iExp.errors.required">* Camp requerit</small>        
                    <small class="error ion-padding" *ngIf="errorsSld3.iExp.errors.minlength || errorsSld3.iExp.errors.maxlength">* Ha de tenir com a mínim 1 i 
                        com a máxim 40 caràcters</small>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid *ngIf="userType === '2'">
              <h2>Antiguitat de l'empresa</h2>
              <ion-row>
                <ion-col size="12">
                  <div class="list list-inset input-container">
                    <input class="native-input sc-ion-input-md" type="text" placeholder="Antiguitat" id="iExp" formControlName="iExp" minlength="1" maxlength="2" required> anys
                  </div>
                  <div *ngIf="errorsSld3.iExp.errors && (errorsSld3.iExp.invalid || errorsSld3.iExp.touched)">
                    <small class="error ion-padding" *ngIf="errorsSld3.iExp.errors.required">* Camp requerit</small>        
                    <small class="error ion-padding" *ngIf="errorsSld3.iExp.errors.minlength || errorsSld3.iExp.errors.maxlength">* Ha de tenir com a mínim 1 i 
                        com a máxim 40 caràcters</small>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid>
              <ion-row class="padding-btn">
                <ion-col size="12">
                  <ion-button type="submit" fill="solid" color="loginbtn" expand="block" shape="round" [disabled]="!formSlide3.valid"> Continuar </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </div>       
      </ion-slide>
      
      <!-- Form 4 -->
      <ion-slide>
        <div class="container-medium">
          <form [formGroup]="formSlide4" (ngSubmit)="submitForm()" novalidate>  
            <ion-grid>
              <h2 *ngIf="userType === '1'">
                Descriu breument la feina que desenvolupes en l'actualitat i/o les habilitats 
                que tens com a treballador/a
              </h2>
              <h2 *ngIf="userType === '2'">
                Què feu a la teva empresa o entitat?
              </h2>
              <ion-row>
                <ion-col size="12">
                  <div class="list list-inset input-container">
                    <ion-textarea id="iLastJob" minlength="20" maxlength="400" rows="8" cols="10" formControlName="iLastJob" required></ion-textarea>
                  </div>
                  <div *ngIf="errorsSld4.iLastJob.errors && (errorsSld4.iLastJob.invalid || errorsSld4.iLastJob.touched)">
                    <small class="error ion-padding" *ngIf="errorsSld4.iLastJob.errors.required">* Camp requerit</small>        
                    <small class="error ion-padding" *ngIf="errorsSld4.iLastJob.errors.minlength || errorsSld4.iLastJob.errors.maxlength">* Ha de tenir com a mínim 20 i 
                        com a máxim 400 caràcters</small>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row class="padding-btn">
                <ion-col size="12"> 
                  <ion-button type="submit" fill="solid" color="loginbtn" expand="block" shape="round" [disabled]="!formSlide4.valid"> Continuar </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </div>     
      </ion-slide>

      <!-- Select Skills -->
      <ion-slide>
        <div class="container-medium"> 
          <ion-grid>
            <h2 *ngIf="userType === '1'">Potser t'identifiques amb tots els valors o característiques que et proposem en la següent pantalla, però 
              et demanem que triïs els 6 que més et representen.
            </h2>
            <h2 *ngIf="userType === '2'">Potser la teva empresa o entitat s'identifica amb tots els valors o característiques que et proposem en la següent 
              pantalla, però et demanem que triïs els 6 que més et representen.
            </h2>
            <ion-row>
              <ion-col size="12">
                <ion-button type="button" fill="solid" color="light" expand="block" shape="round" (click)="valuesModal()"> Afegir </ion-button>
                
                <div class="ion-padding-top" *ngIf="userSkills.length === 0">
                  <div class="header-text ion-padding">
                    <ion-label color="danger" class="ion-text-start">
                      Encara no tens valors seleccionats
                    </ion-label> 
                  </div>
                </div>
          
                <div class="ion-padding-top" *ngIf="userSkills?.length > 0">
                  <ion-row>
                    <ion-col size="6" *ngFor="let skill of userSkills">
                      <div class="custom-icon">
                        <ion-label class="title-offer">
                          <h4>
                            <!--<ion-icon class="values-ico-style" name="rocket" slot="icon-only" size="small" slot="start"></ion-icon>-->
                            {{ skill.name }}
                          </h4>
                        </ion-label>
                      </div>
                    </ion-col>
                  </ion-row>
                </div>

              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid *ngIf="userType === '1'" class="padding-btn">
            <ion-row>
              <ion-col size="12"> 
                <ion-button type="submit" fill="solid" color="loginbtn" expand="block" shape="round" [disabled]="!userSkills?.length > 0" (click)="swipeNext()"> Continuar </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid *ngIf="userType === '2'">
            <ion-row>
              <ion-col size="12"> 
                <ion-button type="submit" fill="solid" color="loginbtn" expand="block" shape="round" [disabled]="!userSkills?.length > 0" (click)="saveNewUser()"> Finalitzar </ion-button>
              </ion-col>
              <p> </p>
            </ion-row>
          </ion-grid>
        </div>     
      </ion-slide>

      <!-- Form 5 -->
      <ion-slide *ngIf="userType === '1'">
        <div class="container-medium">
          <form [formGroup]="formSlide5" (ngSubmit)="submitForm()" novalidate>
            <ion-grid>
              <h2>Nivell d'estudis</h2>
              <ion-row>
                <ion-col size="12">
                  <div class="list list-inset input-container">
                    <input class="native-input sc-ion-input-md" type="text" placeholder="Estudis" id="iEduc" formControlName="iEduc" minlength="10" maxlength="100" required>
                  </div>
                  <div *ngIf="errorsSld5.iEduc.errors && (errorsSld5.iEduc.invalid || errorsSld5.iEduc.touched)">
                    <small class="error ion-padding" *ngIf="errorsSld5.iEduc.errors.required">* Camp requerit</small>        
                    <small class="error ion-padding" *ngIf="errorsSld5.iEduc.errors.minlength || errorsSld5.iEduc.errors.maxlength">* Ha de tenir com a mínim 10 i 
                        com a máxim 100 caràcters</small>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <h2>Idiomes</h2>
              <ion-row>
                <ion-col size="12">
                  <div class="list list-inset input-select-container">
                    <ion-select class="form-text" interface="action-sheet" id="iLang" formControlName="iLang" okText="Ok" cancelText="Cancela" minlength="1" maxlength="10"
                    [multiple]="true" placeholder="Selecciona..." required>
                      <ion-select-option *ngFor="let language of languageList" value="{{language}}">{{language}}</ion-select-option>
                    </ion-select>
                  </div>
                </ion-col>
              </ion-row>            
            </ion-grid>
            <ion-grid> 
              <h2>Competències o habilitats</h2>
              <ion-row>
                <ion-col size="12">
                  <tag-input [identifyBy]="'id'"
                             [secondaryPlaceholder]="'+ Competències'"
                             [placeholder]="'+ Competències'" 
                             [displayBy]="'value'" 
                             [maxItems]='20' 
                             id="iCompetence" 
                             formControlName="iCompetence"
                             [removable]="true" 
                             [theme]="'upm-tag-theme'">
                      <ng-template let-item="item">
                          {{ item.value }}
                          <delete-icon (click)="removeCompetence(item)"></delete-icon>
                      </ng-template>
                      <tag-input-dropdown [autocompleteItems]="competList" [identifyBy]="'_id'" [displayBy]="'name'">
                          <ng-template let-item="item" let-index="index">
                            {{ item.name }}
                          </ng-template>
                      </tag-input-dropdown>
                  </tag-input>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid>
              <ion-row>
                <ion-col size="12"> 
                  <ion-button type="submit" fill="solid" color="loginbtn" expand="block" shape="round" [disabled]="!formSlide5.valid" (click)="saveNewUser()"> Finalitzar </ion-button>
                </ion-col>
                <p> </p>
              </ion-row>
            </ion-grid>
          </form>
          <!--<ion-spinner name="bubbles"></ion-spinner>-->
        </div>       
      </ion-slide>

  </ion-slides>
</ion-content>
